@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<img class="center-block" src="~/images/Oops1.png" />
<h1 class="text-danger center-block">Oops!</h1>
<h4 class="text-danger">An error occurred while processing your request. Don't worry our team is already working on it.</h4>


