@{
    ViewBag.Title = "About";
}
<h2 class="text-center">WheelShare</h2>
<h4 class="text-center">We will share</h4>
<p>With WheelShare, you can easily get around, save on your fuel costs and help reduce the carbon emissions.
There are other bonuses like : decreased need for vehicle maintenance. And if you are not the one driving, you can make new friends, finish up a few minutes of work, or make up for last night’s party with a little nap. Most big cities reward carpoolers with HOV lanes to accelerate the journey, special parking spaces, or discounted rates for parking.
</p>
<div class="text-center">
    <h6 class="text-center">Check out this video about carpooling</h6>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/xGQTlM9dwUE" frameborder="0" allowfullscreen></iframe>
</div>